<div id="card_${movie.data.id}" class="movie-card card">
    <!-- TODO -->
    <img class=" card-img-top" src="https://image.tmdb.org/t/p/w500/${movie.data.poster_path}"
        alt="${movie.data.title}_img">
    <div class="card-body">
        <h3 class="card-title">${movie.data.title} - ${movie.data.release_date}</h3>
        <div class="progress">
            <div class="progress-bar" role="progressbar" ${movie.voteAverageStyle}
                aria-valuenow=${movie.data.vote_average} aria-valuemin="0" aria-valuemax="10">${movie.data.vote_average}
                / 10
            </div>
        </div>
        <div>
            <h5>Genres</h5>
            <p class="genre-info">${movie.genres}</p>
        </div>
        <div>
            <h5>Overview</h5>
            <p class="card-text card-overview">${movie.data.overview}</p>
        </div>
        <div id="expand_${movie.data.id}" class="expand d-none">
            <div id="moreInfo_${movie.data.id}" data-wrapper="measuringWrapper_${movie.data.id}">
                <div id="trailer_${movie.data.id}">

                </div>
                <div id="reviews_${movie.data.id}">

                </div>
                <div id="similar_movies_${movie.data.id}">

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button id="toggleExpandBtn_${movie.data.id}" class="btn btn-primary showMoreBtn">Show more <i
                id="fa-loader_${movie.data.id}" class="fas fa-plus"></i></button>
    </div>
</div>
<!-- <template id="trailer_template">
        <h5>Trailer</h5>
        <iframe id="trailer-video_${movie.data.id}" width="100%" height="50%" src="" frameborder="0"
          allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <span id="trailer-not-found_${movie.data.id}"></span>
      </template>
      
      <template id="reviews_template">
        <h5>Reviews</h5>
        <ul id="reviews-ul_${movie.data.id}"></ul>
        <span id="reviews-not-found_${movie.data.id}"></span>
      </template>
      
      <template id="similar_movies_template">
        <h5>Similar Movies</h5>
        <span id="similar-movies-span_${movie.data.id}"></span>
        <span id="similar-movies-not-found_${movie.data.id}"></span>
      </template> -->