<div id="card_{{ movie.id }}" class="movie-card card">
  <div class="movie-card__poster">
    <img
      class="movie-card__image"
      src="https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}"
      alt="{{ movie.title }}"
      width="300"
      height="450"
      loading="lazy"
    />
    <div class="movie-card__overlay">
      <h3 class="movie-card__title">{{ movie.title }}</h3>
      <div class="movie-card__rating">
        <span id="card_rate_{{ movie.id }}"></span>
        <strong class="movie-card__rating-value">{{ movie.vote_average }}</strong>
      </div>
    </div>
  </div>
  <button id="showMoreButton_{{ movie.id }}" class="movie-card__btn">
    <span id="showMoreButtonText_{{ movie.id }}">Details</span>
    <div id="showMoreLoader_{{ movie.id }}" class="bouncer hidden">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </button>
</div>
