<div id="modal" class="modal modal--visible" role="dialog">
  <div class="modal__container">
    <div class="modal__container__header">
      <h4 id="modalTitle" class="modal__container__header__title"></h4>
    </div>
    <div class="modal__container__body">
      <p id="modalMsg" class="modal__container__body__msg"></p>
    </div>
    <div class="modal__container__footer">
      <button
        id="modalCloseBtn"
        type="button"
        class="button modal__container__footer__btn"
        data-dismiss="modal"
      >
        Close
      </button>
    </div>
  </div>
</div>
