<div id="card_{{uniqueId}}" class="movie-card card"">
    <img class="card-img-top" src="{{poster_path}}" alt="{{title}}_img">
    <div class="card-body">
        <h3 class="card-title">{{title}} - {{release_date}}</h3>
        <div class="progress">
            <div class="progress-bar" role="progressbar" {{style}} aria-valuenow={{vote_average}}"" aria-valuemin="0" aria-valuemax="10">{{vote_average}} / 10</div>
        </div>
        <div>
            <h5>Genres</h5>
            <p class="genre-info">{{genres}}</p> 
        </div>
        <div>
            <h5>Overview</h5>
            <p class="card-text card-overview">{{overview}}</p> 
        </div>
        <div id="expand_{{uniqueId}}" class="expand">
            <div id="moreInfo_{{uniqueId}}" data-wrapper="measuringWrapper_{{uniqueId}}">
                <div id="trailer_{{uniqueId}}">
                    <h5>Trailer</h5>
                    <iframe id="trailer-video_{{uniqueId}}" width="100%" height="50%" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <span id="trailer-not-found_{{uniqueId}}"></span>
                </div>
                <div id="reviews_{{uniqueId}}">
                    <h5>Reviews</h5>
                    <ul id="reviews-ul_{{uniqueId}}"></ul>
                    <span id="reviews-not-found_{{uniqueId}}"></span>
                </div>
                <div id="similar-movies_{{uniqueId}}">
                    <h5>Similar Movies</h5>
                    <span id="similar-movies-span_{{uniqueId}}"></span>
                    <span id="similar-movies-not-found_{{uniqueId}}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button id="showMoreBtn_{{uniqueId}}" class="btn btn-primary showMoreBtn">Show more <i id="fa-plus_{{uniqueId}}" class="fas fa-plus"></i></button>
    </div>
</div>