#searchMoviesPage {
	height: 100%;
}

#searchMoviesPage section:first-child {
	text-align: center;
	padding: 1.5rem 0;
	box-shadow: 0 1px 8px gray;
}

#searchMoviesPage section:first-child h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
}

#searchMoviesPage section:not(:first-child) {
	height: 100%;
}

#searchMoviesPage section[component-to-load] {
	height: -moz-calc(100% - 12rem);
    height: -webkit-calc(100% - 12rem);
    height: calc(100% - 12rem);
}

#searchMovieInput {
	width: 50%;
	margin: 0 auto;
	font-size: 2rem;
	padding: 2rem;
	line-height: 2rem;
}